<nav class="navbar navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://ribon.io/wp-content/uploads/2021/03/cropped-Ribon-logo-verde.png" width="100" class="d-inline-block align-top" alt="">
      <span class="brand-text">
        Status
      </span>
    </a>
    <div class="d-inline">
      <a href="https://discord.gg/DBcwmDrkpy" target="_blank">
        <button class="discord-button"><span class="fa-brands fa-discord"></span> Subscribe</button>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid p-0 splash-img">
</div>

<div class="container mt-4">
  <%
    classname = case @report[:general_status]
    when general_statuses[:operational]
       'alert-success'
    when general_statuses[:unstable]
       'alert-warning'
    else
       'alert-danger'
    end
  %>

  <div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="alert <%= classname %>">
          <strong><%= @report[:general_status] %></strong>
        </div>
      <br>
      <h2 class="mt-4">Current Status:</h2>
      <div class="row g-0 justify-content-center">
        <% @report[:statuses].each do |status| %>

          <%
            text_classname = case status[:status]
            when single_app_statuses[:normal]
              'text-success'
            when single_app_statuses[:unstable]
              'text-warning'
            else
              'text-danger'
            end
          %>

          <div class="col-lg-6 app-card">
            <h5><strong><%= status[:app] %></strong></h5>
            <span class="text-secondary">
              <a href="<%= status[:url] %>"><%= status[:url] %></a>
            </span>
            <br>
            <small class="text-secondary">Ping: <%= status[:time] %>ms</small>
            <div class="status-badge">
              <p class="<%= text_classname %>"><strong><%= status[:status] %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row text-center mt-4 mb-4">
        <p>
          You can view real-time updates about incidents, scheduled maintenance, etc. joining our 
          <a href="https://discord.gg/DBcwmDrkpy" target="_blank" class="text-purple"><b>Discord Community</b>.</a>
        </p>
        <p class="text-secondary">Incident logs can be found in the <u>#incidents</u> channel.</p>
      </div>
    </div>
  </div>
</div>